* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* =============common================= */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}
.section__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section__desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.controls {
  display: flex;
  gap: 18px;
}
.controls__btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #575f66;
  border: 1px solid #575f66;
  border-radius: 50%;
  cursor: pointer;
  transform: 0.25s;
}
.controls__btn:hover {
  border-color: #2e80ce;
  background: #2e80ce;
  color: #fff;
}
.controls-icon--next {
  rotate: 180deg;
}
/* =================header============= */
.header {
  padding-top: 30px;
  background: var(--header-bg);
  min-height: 100vh;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  right: 8px;
  top: -3px;
}
.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  border-radius: 22px;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.header__action--login {
  margin-right: 7px;
}
/*=================hero================  */
.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero-media {
  flex: 1;
}
.hero__heading {
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  width: 468px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero__row .btn {
  width: 205px;
  line-height: 60px;
  border-radius: 30px;
}
.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}
.hero__img-large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero__img-small {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
}
/* ================service=============== */
.service {
  padding: 170px 0;
  background: #fff;
}
.service__desc,
.service__heading {
  text-align: center;
}
.service__desc {
  width: 468px;
  margin: 18px auto 0;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service__content {
  width: 40%;
  margin-left: auto;
}
.service__row {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.service--item {
  padding: 20px;
  width: 470;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  transition: 0.25s;
}
.service--item:not(:first-child) {
  margin-top: 20px;
}
.service--item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  color: #10375c;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
  transition: 0.25s;
}
.service--item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service--item__desc {
  margin-top: 8px;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
/* .service--item.active, */
.service--item:hover {
  border-radius: 10px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
/* .service--item.active .service--item__icon, */
.service--item:hover .service--item__icon {
  color: white;
  background: #2e80ce;
}

.service__btn {
  margin-top: 75px;
  width: 205px;
  height: 60px;
  border-radius: 30px;
  background: #2e80ce;
}
/* ===================Work================= */
.work {
  background: #f6fbff;
  padding: 100px 0;
}
.work__desc {
  width: 468px;
}
.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work--item {
  padding: 42px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  background: #fff;
}
.work--item:hover {
  border-color: #2e80ce;
  /* dịch lên -16px */
  transform: translateY(-16px);
  transition: 0.25s;
}
.work--item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}
.work--item__link,
.work--item__desc {
  margin-top: 28px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.work--item__link {
  display: inline-block;
  margin-top: 18px;
  font-weight: 400;
  color: #2e80ce;
}
/* ===============about=============== */
.about {
  padding: 85px 0;
  margin-top: 85px;
}
.body-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__images {
  display: flex;
  align-items: center;
  width: 49%;
}
.about__img--large {
  display: flex;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
  object-fit: cover;
}
.about__img--small {
  display: flex;
  margin-top: 121px;
  margin-left: -238px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}
.about-content {
  width: 40%;
}
.about-content__heading {
  width: 470px;
}
.about-content__desc {
  width: 468px;
}
.about-content__btn {
  margin-top: 38px;
  width: 205px;
  border-radius: 30px;
}
/* ================our team================= */
.team {
  padding: 85px 0;
}
.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__btn {
  margin-top: 38px;
  width: 205px;
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 400;
}
.team__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 19px;
}

.team-item__image {
  width: 270px;
  height: 318px;
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  /* nội dung bên trong k tòi ra ngoài */
  overflow: hidden;
}
.team-item__img {
  max-width: 100%;
  height: 290px;
  border-radius: 6px;
  display: block;
  object-fit: cover;
  transition: 0.5s;
}
.team-item:hover .team-item__img {
  transform: scale(1.1);
}
.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
  margin: 0 auto;
}
.team__controls {
  margin-top: 38px;
  justify-content: center;
}
/*=======================cta mobile===================== */
.mobile {
  margin-top: 170px;
}
.mobile__body {
  position: relative;
  height: 427px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2e80ce;
  border-radius: 4px;
  padding: 0 70px;
}
.mobile-image__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
  object-fit: cover;
}
.mobile-content {
  width: 50%;
  margin-left: auto;
}
.mobile-content__heading {
  width: 489px;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.mobile-content__desc {
  margin-top: 18px;
  max-width: 586px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
.mobile-logo {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 28px;
}
.mobile-logo__img {
  width: 135px;
  height: 40px;
}
/* ====================blog==================== */
.blog {
  margin-top: 85px;
  padding: 85px 0;
}
.blog-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-content {
  width: 40%;
}
.blog__heading {
  width: 470px;
}
.blog__link {
  display: inline-block;
  margin-top: 28px;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-underline-offset: 5px;
}
.blog__controls {
  margin-top: 28px;
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.blog-item {
  width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  /* text-align: center; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  transition: 0.25s;
}
.blog-item:hover {
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.blog-item:hover .blog-item__link {
  color: #2e80ce;
}
.blog-item__image {
  height: 172px;
  overflow: hidden;
}
.blog-item:hover .blog-item__img {
  transform: scale(1.1);
}
.blog-item__img {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  transition: 0.25s;
}
.blog-item__heading {
  margin-top: 19px;
  width: 224px;
  color: #10375c;
  font-weight: 600;
  line-height: 1.63; /* 162.5% */
}
.blog-item__desc {
  margin-top: 10px;
  width: 226px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}
.blog-item__link {
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
}
